<div class="row mt-5"></div>
<form action="/users/findback" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Enter Your Email address to Find Back Password</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>